#不管理MAC专有隐藏文件
.DS_Store

#不管理firmware中间文件
firmware/fzx_link_logic/.pio
firmware/fzx_link_logic/.vscode/.browse.c_cpp.db*
firmware/fzx_link_logic/.vscode/c_cpp_properties.json
firmware/fzx_link_logic/.vscode/launch.json
firmware/fzx_link_logic/.vscode/ipch

#不管理hardware中间文件
hardware/fzx_link_logic/History